.position-header {
  z-index: 5;
  padding: 30px 0 0 0;
  position: fixed;
  background: var(--bg-header);
  backdrop-filter: saturate(180%) blur(20px);
  //z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}
.header__logo {
  display: flex;
  align-items: baseline;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1140px;
  margin: 0 auto;
}

.menu__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: var(--black);
    &:hover {
      cursor: pointer;
      color: var(--red);
      transition: all 0.2s ease;
      text-decoration: none;
    }
  }
}

.menu__item {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.03em;
  transition: all 0.2s ease;

  &:nth-child(2) {
    margin: 0 40px 0 40px;
  }

  &:nth-child(4) {
    margin: 0 40px 0 40px;
  }

  &:nth-child(6) {
    margin: 0 0 0 40px;
  }
  button{
    border-radius: 24px;
    width: 100px;
    height: 43px;
    background: var(--red);
    border: none;
    color: var(--color-btn);
    transition: all 0.2s ease;
    &:hover{
      cursor: pointer;
      transition: all 0.2s ease;
      background: var(--red-hower-bg);
      box-shadow: 0 0 20px 4px var(--red-hower-shadow);
      transform: scale(1.1);
    }
  }
}
.changeTheme {
  margin: 0 0 0 30px;
  padding: 10px 10px 0 10px;
  font-size: 26px !important;
  &:hover {
    cursor: pointer;
    transform: scale(1.4);
    color: var(--red);
  }
}