html {
  --blue: #2945FF;
  --white: #fff;
  --black: #121217;
  --red: red;
  --red-hower-bg: #de1414;
  --red-hower-shadow: #e32222;
  --bg-header: rgba(245, 234, 234, 0.5);
  --home-page-text: rgba(12, 12, 12, 0.8);
  --color-dev: rgba(12, 12, 12, 0.5);
  --footer-polosa: rgba(12, 12, 12, 0.5);
  --color-btn: #fff;
}

html[data-theme='dark'] {
  --blue: red;
  --white: #121217;
  --black: #fff;
  --red: #2945FF;
  --red-hower-bg: #3244bf;
  --red-hower-shadow: #0e1f8f;
  --bg-header: rgba(12, 12, 17, 0.5);
  --home-page-text: rgba(255, 255, 255, 0.8);
  --color-dev: rgba(255, 255, 255, 0.5);
  --footer-polosa: rgba(215, 215, 215, 0.5);
  --color-btn: #fff;
}

